body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:32px;
  width:680px;
  height:512px;
  color:#00FF66;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:512px;
}
#u1 {
  position:absolute;
  left:2px;
  top:248px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:110px;
  width:280px;
  height:160px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:160px;
}
#u3 {
  position:absolute;
  left:2px;
  top:72px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:446px;
  top:110px;
  width:144px;
  height:160px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:160px;
}
#u5 {
  position:absolute;
  left:2px;
  top:72px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:330px;
  width:90px;
  height:110px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:110px;
}
#u7 {
  position:absolute;
  left:2px;
  top:47px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:446px;
  top:330px;
  width:113px;
  height:110px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:110px;
}
#u9 {
  position:absolute;
  left:2px;
  top:47px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:559px;
  top:410px;
  width:95px;
  height:31px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u11 {
  position:absolute;
  left:2px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:210px;
  top:410px;
  width:70px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:100px;
  top:330px;
  width:90px;
  height:110px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:110px;
}
#u15 {
  position:absolute;
  left:2px;
  top:47px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:590px;
  top:240px;
  width:90px;
  height:30px;
  color:#000000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:32px;
  width:680px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:560px;
  top:32px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:300px;
  top:240px;
  width:100px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:62px;
  width:180px;
  height:38px;
  color:#66CCFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u25 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:180px;
  top:62px;
  width:180px;
  height:38px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u27 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:360px;
  top:62px;
  width:160px;
  height:38px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:38px;
}
#u29 {
  position:absolute;
  left:2px;
  top:11px;
  width:156px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:520px;
  top:62px;
  width:160px;
  height:38px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:38px;
}
#u31 {
  position:absolute;
  left:2px;
  top:11px;
  width:156px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:32px;
  width:30px;
  height:30px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:300px;
  top:480px;
  width:70px;
  height:30px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:170px;
  top:520px;
  width:340px;
  height:16px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#C9C9C9;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:30px;
  top:32px;
  width:90px;
  height:30px;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:360px;
  top:31px;
  width:200px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:31px;
}
#u41 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
