body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:66px;
  top:114px;
  width:680px;
  height:482px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:482px;
}
#u1 {
  position:absolute;
  left:2px;
  top:233px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:236px;
  top:566px;
  width:340px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:233px;
  top:226px;
  width:345px;
  height:161px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#00FF66;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:161px;
}
#u5 {
  position:absolute;
  left:2px;
  top:68px;
  width:341px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:233px;
  top:338px;
  width:345px;
  height:49px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#0099FF;
  text-align:center;
}
#u7 {
  position:absolute;
  left:235px;
  top:226px;
  width:343px;
  height:161px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#00FF66;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:161px;
}
#u8 {
  position:absolute;
  left:2px;
  top:68px;
  width:339px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:406px;
  top:339px;
  width:172px;
  height:48px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#0099FF;
  text-align:center;
}
#u10 {
  position:absolute;
  left:235px;
  top:339px;
  width:172px;
  height:48px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#0099FF;
  text-align:center;
}
#u11 {
  position:absolute;
  left:770px;
  top:295px;
  width:190px;
  height:120px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:120px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12 {
  position:absolute;
  left:66px;
  top:66px;
  width:680px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:48px;
}
#u13 {
  position:absolute;
  left:2px;
  top:16px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:66px;
  top:66px;
  width:171px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:48px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
