body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1067px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:66px;
  top:114px;
  width:680px;
  height:482px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:482px;
}
#u1 {
  position:absolute;
  left:2px;
  top:233px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:66px;
  top:114px;
  width:180px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#9E9E9E;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:246px;
  top:114px;
  width:160px;
  height:38px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#0099FF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:38px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:406px;
  top:114px;
  width:180px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#9E9E9E;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:586px;
  top:114px;
  width:160px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#9E9E9E;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:38px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:236px;
  top:572px;
  width:340px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:780px;
  top:216px;
  width:287px;
  height:75px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:75px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:780px;
  top:411px;
  width:287px;
  height:75px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:75px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u14 {
  position:absolute;
  left:296px;
  top:172px;
  width:10px;
  height:380px;
}
#u14_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u14_end {
  position:absolute;
  left:-5px;
  top:363px;
  width:20px;
  height:18px;
}
#u14_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:380px;
}
#u15 {
  position:absolute;
  left:69px;
  top:174px;
  width:225px;
  height:140px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:140px;
}
#u16 {
  position:absolute;
  left:2px;
  top:52px;
  width:221px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:311px;
  top:172px;
  width:420px;
  height:380px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:380px;
}
#u18 {
  position:absolute;
  left:2px;
  top:182px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:69px;
  top:395px;
  width:225px;
  height:155px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:155px;
}
#u20 {
  position:absolute;
  left:2px;
  top:60px;
  width:221px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:321px;
  top:245px;
  width:170px;
  height:190px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:190px;
}
#u22 {
  position:absolute;
  left:2px;
  top:87px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:780px;
  top:314px;
  width:287px;
  height:75px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:75px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u24 {
  position:absolute;
  left:464px;
  top:502px;
  width:114px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:267px;
  top:303px;
  width:300px;
  height:218px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:218px;
}
#u27 {
  position:absolute;
  left:2px;
  top:85px;
  width:296px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:837px;
  top:581px;
  width:200px;
  height:200px;
  overflow:hidden;
}
#u28_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:317px;
  top:372px;
  width:200px;
  height:31px;
  overflow:hidden;
}
#u29_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:31px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u29_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30 {
  position:absolute;
  left:392px;
  top:245px;
  width:45px;
  height:46px;
  overflow:hidden;
}
#u30_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u32 {
  position:absolute;
  left:0px;
  top:13px;
  width:40px;
  word-wrap:break-word;
}
#u30_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33 {
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u34 {
  position:absolute;
  left:0px;
  top:13px;
  width:40px;
  word-wrap:break-word;
}
#u30_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u36 {
  position:absolute;
  left:0px;
  top:13px;
  width:40px;
  word-wrap:break-word;
}
#u30_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37 {
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u38 {
  position:absolute;
  left:0px;
  top:13px;
  width:40px;
  word-wrap:break-word;
}
#u30_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39 {
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u40 {
  position:absolute;
  left:0px;
  top:13px;
  width:40px;
  word-wrap:break-word;
}
#u30_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u42 {
  position:absolute;
  left:0px;
  top:13px;
  width:40px;
  word-wrap:break-word;
}
#u30_state6 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state6_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43 {
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u44 {
  position:absolute;
  left:0px;
  top:13px;
  width:40px;
  word-wrap:break-word;
}
#u30_state7 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state7_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45 {
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u46 {
  position:absolute;
  left:0px;
  top:13px;
  width:40px;
  word-wrap:break-word;
}
#u30_state8 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state8_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47 {
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u48 {
  position:absolute;
  left:0px;
  top:13px;
  width:40px;
  word-wrap:break-word;
}
#u30_state9 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state9_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49 {
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u50 {
  position:absolute;
  left:0px;
  top:13px;
  width:40px;
  word-wrap:break-word;
}
#u30_state10 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state10_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u52 {
  position:absolute;
  left:0px;
  top:13px;
  width:40px;
  word-wrap:break-word;
}
#u30_state11 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state11_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u53 {
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u54 {
  position:absolute;
  left:0px;
  top:13px;
  width:40px;
  word-wrap:break-word;
}
#u30_state12 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state12_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u55 {
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u56 {
  position:absolute;
  left:0px;
  top:13px;
  width:40px;
  word-wrap:break-word;
}
#u30_state13 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state13_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57 {
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u58 {
  position:absolute;
  left:0px;
  top:13px;
  width:40px;
  word-wrap:break-word;
}
#u30_state14 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state14_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u59 {
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u60 {
  position:absolute;
  left:0px;
  top:13px;
  width:40px;
  word-wrap:break-word;
}
#u30_state15 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state15_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61 {
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u62 {
  position:absolute;
  left:0px;
  top:13px;
  width:40px;
  word-wrap:break-word;
}
#u30_state16 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state16_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u63 {
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u64 {
  position:absolute;
  left:0px;
  top:13px;
  width:40px;
  word-wrap:break-word;
}
#u30_state17 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state17_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u65 {
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u66 {
  position:absolute;
  left:0px;
  top:13px;
  width:40px;
  word-wrap:break-word;
}
#u30_state18 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state18_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u67 {
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u68 {
  position:absolute;
  left:0px;
  top:13px;
  width:40px;
  word-wrap:break-word;
}
#u30_state19 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state19_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u69 {
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u70 {
  position:absolute;
  left:0px;
  top:13px;
  width:40px;
  word-wrap:break-word;
}
#u30_state20 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state20_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u71 {
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u72 {
  position:absolute;
  left:0px;
  top:13px;
  width:40px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:267px;
  top:303px;
  width:300px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:18px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u74 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:356px;
  top:490px;
  width:100px;
  height:31px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u76 {
  position:absolute;
  left:66px;
  top:66px;
  width:680px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:48px;
}
#u77 {
  position:absolute;
  left:2px;
  top:16px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:66px;
  top:66px;
  width:55px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:48px;
}
#u79 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:121px;
  top:66px;
  width:125px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#F2F2F2;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:48px;
}
#u81 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
