body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:746px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:66px;
  top:114px;
  width:680px;
  height:606px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:606px;
}
#u1 {
  position:absolute;
  left:2px;
  top:295px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:81px;
  top:411px;
  width:620px;
  height:53px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#006600;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:53px;
}
#u3 {
  position:absolute;
  left:2px;
  top:18px;
  width:616px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:236px;
  top:681px;
  width:340px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#5E5E5E;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:81px;
  top:239px;
  width:620px;
  height:53px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#006600;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:53px;
}
#u7 {
  position:absolute;
  left:2px;
  top:18px;
  width:616px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:162px;
  top:120px;
  width:584px;
  height:80px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:80px;
}
#u9 {
  position:absolute;
  left:2px;
  top:16px;
  width:580px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:67px;
  top:120px;
  width:95px;
  height:80px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:80px;
}
#u11 {
  position:absolute;
  left:2px;
  top:32px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:87px;
  top:130px;
  width:60px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:81px;
  top:292px;
  width:620px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#006600;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:616px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:81px;
  top:332px;
  width:620px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#006600;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:616px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:701px;
  top:256px;
  width:30px;
  height:76px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:76px;
}
#u19 {
  position:absolute;
  left:2px;
  top:30px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:701px;
  top:239px;
  width:30px;
  height:432px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:432px;
}
#u21 {
  position:absolute;
  left:2px;
  top:208px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:82px;
  top:372px;
  width:619px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#006600;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:615px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:665px;
  top:305px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:618px;
  top:305px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u27 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u26_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28 {
  position:absolute;
  left:665px;
  top:344px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u29 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u28_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u30 {
  position:absolute;
  left:618px;
  top:343px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u31 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u30_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u32 {
  position:absolute;
  left:665px;
  top:387px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u33 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u32_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34 {
  position:absolute;
  left:618px;
  top:386px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u35 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u34_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36 {
  position:absolute;
  left:531px;
  top:378px;
  width:60px;
  height:28px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u37 {
  position:absolute;
  left:81px;
  top:210px;
  width:650px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#336600;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:3px;
  width:646px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:701px;
  top:239px;
  width:29px;
  height:73px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:73px;
}
#u40 {
  position:absolute;
  left:2px;
  top:28px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:81px;
  top:464px;
  width:620px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#006600;
  text-align:left;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:40px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:616px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:665px;
  top:477px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u44 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u43_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u45 {
  position:absolute;
  left:618px;
  top:477px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u46 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u45_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u47 {
  position:absolute;
  left:82px;
  top:504px;
  width:619px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#006600;
  text-align:left;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:40px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:615px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:665px;
  top:519px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u50 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u49_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u51 {
  position:absolute;
  left:618px;
  top:518px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u52 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u51_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u53 {
  position:absolute;
  left:531px;
  top:510px;
  width:60px;
  height:28px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u54 {
  position:absolute;
  left:66px;
  top:66px;
  width:680px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:48px;
}
#u55 {
  position:absolute;
  left:2px;
  top:16px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:120px;
  top:66px;
  width:171px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:48px;
}
#u57 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:66px;
  top:69px;
  width:50px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u59 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:111px;
  top:73px;
  width:10px;
  height:36px;
}
#u60_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u60_end {
  position:absolute;
  left:-5px;
  top:19px;
  width:20px;
  height:18px;
}
#u60_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:36px;
}
#u61 {
  position:absolute;
  left:82px;
  top:544px;
  width:620px;
  height:53px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#006600;
  text-align:left;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:53px;
}
#u62 {
  position:absolute;
  left:2px;
  top:18px;
  width:616px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:82px;
  top:597px;
  width:620px;
  height:74px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#006600;
  text-align:left;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:74px;
}
#u64 {
  position:absolute;
  left:2px;
  top:12px;
  width:616px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:596px;
  top:624px;
  width:52px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u66 {
  position:absolute;
  left:16px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u65_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u67 {
  position:absolute;
  left:648px;
  top:624px;
  width:52px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u68 {
  position:absolute;
  left:16px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u67_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
