body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:765px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:85px;
  top:109px;
  width:680px;
  height:482px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:482px;
}
#u1 {
  position:absolute;
  left:2px;
  top:233px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:255px;
  top:500px;
  width:340px;
  height:16px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:85px;
  top:62px;
  width:680px;
  height:48px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:48px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:355px;
  top:62px;
  width:140px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:48px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:181px;
  top:118px;
  width:584px;
  height:80px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:80px;
}
#u9 {
  position:absolute;
  left:2px;
  top:16px;
  width:580px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:86px;
  top:118px;
  width:95px;
  height:80px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:80px;
}
#u11 {
  position:absolute;
  left:2px;
  top:32px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:106px;
  top:128px;
  width:60px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:258px;
  top:260px;
  width:335px;
  height:120px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#00FF00;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:120px;
}
#u15 {
  position:absolute;
  left:2px;
  top:46px;
  width:331px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:258px;
  top:340px;
  width:335px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:331px;
  word-wrap:break-word;
}
